.odytmp4 {
    margin-inline-start: 38%;
    padding: 7px 8px;
    border-radius: 4px;
	box-shadow: rgb(30 58 136 / 50%) 0px 6px 0px;
    background: #1e3a88;
    float: right;
    margin-block-start: -16px;
    color: white;
    font-size: 14px;
}