.odytmp4 {
    margin-inline-start: 38%;
    margin-block-start: -16px;
    height: 20px;
    margin-top: 5px;
    padding: 7px 8px;
    border-radius: 0px;
	box-shadow: rgb(30 58 136 / 50%) 0px 6px 0px;
    background: #1e3a88;
    float: right;
    color: white;
    font-size: 14px;
    text-decoration-line: none;
}
